In [2]:
import os

In [3]:
%pwd

'/Users/shrikanthnallapati/Projects/stock_app/research'

In [4]:
os.chdir('../')

In [5]:
%pwd

'/Users/shrikanthnallapati/Projects/stock_app'

In [8]:
import yfinance as yf 
import pandas as pd

In [9]:
data = yf.download('AAPL')
data.head()

[*********************100%%**********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close     Volume
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348   0.099450  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652   0.094261  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723   0.087343  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513   0.089504   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862   0.092099   73449600

In [13]:
data.to_csv('Data/AAPL.csv')

In [15]:
stock_list = {'TSLA', 'AAPL', 'AMZN', 'NVDA', 'MSFT', 'NFLX', 'META', 'GOOG', 'RIVN'}

for stock in stock_list:
    try:
        data= yf.download(f'{stock}')
        data.to_csv(f'Data/{stock}.csv')
    except Exception as e:
        print(f'{stock} ==> {e}')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed